<section class="">
    <!-- Footer -->
    <footer class="text-white text-center" style="background-color: #DAA520;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Hojas de vida</h5>
  
            <p>
              Ingresa a este sistema y agrega tu hoja de vida
              para que podamos contactarnos contigo ademas puedes ingresar las investigaciones 
              que has realizado.
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Enlaces</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/administracion/investigaciones/listado" class="text-white">Investigaciones</a>
              </li>
              <li>
                <a href="/administracion/autores/listado" class="text-white">Autores</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Redes Sociales</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Facebook UIDE</a>
              </li>
              <li>
                <a href="#!" class="text-white">GitHub UIDE</a>
              </li>
              <li>
                <a href="#!" class="text-white">Instagram UIDE</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #c29013;">
        © 2023 Copyright:
        <a class="text-white" href="#">KarlaConde</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>